---
layout: default
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }}
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
  <a href="/">
    <i class="tags fa fa-tags"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>
{% if site.theme.post.fields.description %}
    <h4 class="description">{{ page.description }}</h4>
{% endif %}
{% if site.theme.post.fields.tags %}
    <h6 class="tag-list">{{ page.tags | join: "|" | upcase }}</h6>
{% endif %}
<hr />
<div id="post">
  {{ content }}
</div>

{% if site.theme.post.fields.related_posts %}
    <div id="related">
      <h3>Related Posts</h3>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
        <li>
          <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endif %}
